<!-- 引入公共部分的页面 -->
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common">

	<!-- 引入  angular.min.js  -->
	<script type="text/javascript"
		th:attr="src=@{'/third/angularjs/angular.min.js'}"></script>

	<!-- 引入  common/utils.js  -->
	<script type="text/javascript" th:attr="src=@{'/js/common/utils.js'}"></script>

	<!-- 引入 EChart -->
	<script type="text/javascript"
		th:attr="src=@{'/third/echart/dist/echarts.js'}"></script>

	<!-- 引入 jQuery -->
	<script type="text/javascript"
		th:attr="src=@{'/third/jquery-3.1.1/jquery-3.1.1.min.js'}"></script>

	<!-- Bootstrap -->
	<link th:attr="href=@{'/third/bootstrap-3.3.7/css/bootstrap.min.css'}" rel="stylesheet"></link>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script th:attr="src=@{'/third/bootstrap-3.3.7/js/bootstrap.min.js'}"></script>

	<!-- <div class="alert alert-success">...</div>
	<div class="alert alert-info">...</div>
	<div class="alert alert-warning">...</div>
	<div class="alert alert-danger">...</div> -->
</div>

</html>

